<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="magemasani" translate="label" sortOrder="400">
            <label>MageMasani</label>
        </tab>
        <section id="pushnotification" translate="label" sortOrder="10"
                 showInDefault="1" showInWebsite="1" showInStore="1">
            <label>Push Notification</label>
            <tab>magemasani</tab>
            <resource>MageMasani_PushNotification::config</resource>

            <group id="general" translate="label" sortOrder="10"
                   showInDefault="1" showInWebsite="1" showInStore="1">
                <label>General</label>
                <field id="enabled" translate="label" type="select" sortOrder="10"
                       showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Enabled</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="async_enabled" translate="label" type="select" sortOrder="20"
                       showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Enable Asynchronous Sending</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <comment>If enabled, push notifications will be queued and processed in the background via Magento Message Queue (db/cron or AMQP).</comment>
                </field>
                <field id="allowed_device_types" translate="label" type="select" sortOrder="30"
                       showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Allowed Device Types</label>
                    <source_model>MageMasani\PushNotification\Model\Config\Source\DeviceTypes</source_model>
                    <comment>Select which device types notifications should be sent to.</comment>
                </field>
            </group>

            <group id="firebase" translate="label" sortOrder="20"
                   showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Firebase Configuration</label>
                <field id="firebase_config_json" translate="label comment" type="textarea" sortOrder="10"
                       showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Firebase Config JSON</label>
                    <comment><![CDATA[Paste the <code>firebaseConfig</code> object shown in
                        Firebase Console &gt; Project Settings &gt; General &gt; Your apps (Web) &gt; SDK setup and configuration.<br/>
                        Must include <code>apiKey</code>, <code>authDomain</code>, <code>projectId</code>,
                        <code>storageBucket</code>, <code>messagingSenderId</code>, and <code>appId</code>.]]></comment>
                </field>
                <field id="vapid_key" translate="label comment" type="text" sortOrder="20"
                       showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>VAPID Public Key</label>
                    <comment>Firebase Console &gt; Project Settings &gt; Cloud Messaging &gt; Web Push certificates.</comment>
                </field>
                <field id="service_account_json" translate="label" type="textarea" sortOrder="30"
                       showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Service Account JSON</label>
                    <comment><![CDATA[Paste the full contents of the service-account JSON file.<br/>
                        Firebase Console &gt; Project Settings &gt; <strong>Service accounts</strong> tab &gt;
                        <strong>Generate new private key</strong>. The JSON contains <code>client_email</code>,
                        <code>private_key</code>, and <code>project_id</code> &mdash; used to obtain an OAuth2
                        access token for the FCM HTTP v1 API.]]></comment>
                </field>
                <field id="icon" translate="label comment" type="image" sortOrder="40"
                       showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Default Notification Icon</label>
                    <backend_model>Magento\Config\Model\Config\Backend\Image</backend_model>
                    <upload_dir config="system/filesystem/media">webpush</upload_dir>
                    <base_url type="media">webpush</base_url>
                    <comment>Recommended 192x192 PNG. Used as the icon for all push notifications. Must be reachable over HTTPS.</comment>
                </field>
            </group>

            <group id="event_settings" translate="label" sortOrder="30"
                   showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Event Settings</label>
                <field id="custom_events" translate="label" type="text" sortOrder="10"
                       showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Custom Events</label>
                    <frontend_model>MageMasani\PushNotification\Block\Adminhtml\System\Config\Form\Field\EventRows</frontend_model>
                    <backend_model>Magento\Config\Model\Config\Backend\Serialized\ArraySerialized</backend_model>
                </field>
            </group>
        </section>
    </system>
</config>
