<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <!-- For GraphQl Filters Start-->
    <type name="Magento\Framework\GraphQl\Query\Resolver\Argument\FieldEntityAttributesPool">
        <arguments>
            <argument name="attributesInstances" xsi:type="array">
                <item name="BannerSliderInfo" xsi:type="object">
                    MageMasani\BannerSliderGraphQl\Model\Resolver\BannerSliderFilter\FilterArgument
                </item>
            </argument>
        </arguments>
    </type>
    <type name="MageMasani\BannerSliderGraphQl\Model\Resolver\BannerSliderFilter\FilterArgument">
        <arguments>
            <argument name="additionalFields" xsi:type="array">
                <item name="is_enabled" xsi:type="string">is_enabled</item>
                <item name="start_date" xsi:type="string">start_date</item>
                <item name="end_date" xsi:type="string">end_date</item>
            </argument>
        </arguments>
    </type>
    <!-- For GraphQl Filters End -->
</config>

